<div id="tittle">
  <h1>{{tittle}}</h1>
  <h3>{{subTittle}}</h3>
  <p>{{email}}</p>
</div>
<article class="about">
  <h2> Sobre Mi</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenean rutrum magna sit amet venenatis pellentesque.
    Vivamus a erat vehicula, fermentum mi sit amet, ullamcorper lorem. Fusce egestas feugiat ipsum.
    Phasellus id ipsum eget diam pharetra volutpat non a neque. Cras fermentum, odio feugiat molestie finibus,
    agna urna faucibus magna, id luctus lacus mi a felis. Maecenas et ipsum ut tortor porta faucibus. Aliquam erat volutpat.

  </p>



</article>
